.vignetteContainer {
    height: 400px;
    width: 300px;
  }
  
.vignetteTop {
border-radius: 15px 15px 0 0;
height: 50%;
background-image: url("../../img/paris-city-content.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}

.vignetteBottom {
border-radius: 0 0 15px 15px;
height: 50%;
color: white;
background-color: red;
padding: 0px 15px;
}

.vignetteText {
text-align: left;
padding-top: 15px;
font-size: 1.4rem;
}

.homepageCategoryContainer {
    display: flex;
    justify-content: flex-end;
}

.homepageCategoryTitle {
    margin-right: auto;
}

.homepageCategoryTitle h3 {
    text-align: left;
}

.sliderControls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.slidePrev, .slideNext {
    cursor: pointer;
    border: #EEEE solid 2px;
    background-color: transparent;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidePrev span, .slideNext span {
    color: #24252A;
}