.vignetteContainer {
    height: 400px;
    max-width: 400px;
    box-shadow: #444 0px 0px 5px 2px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.vignetteTop {
border-radius: 15px 15px 0 0;
max-width: 400px;
height: 50%;
background-image: url("../../img/paris-city-content.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.vignetteBottom {
border-radius: 0 0 15px 15px;
height: 50%;
color: white;
background-color: red;
padding: 0px 15px;
}

.vignetteText {
text-align: left;
padding-top: 15px;
font-size: 1.4rem;
}

.homepageCategoryContainer {
    display: flex;
    justify-content: flex-end;
}

.homepageCategoryTitle {
    margin-right: auto;
}

.homepageCategoryTitle h3 {
    text-align: left;
    font-size: 1.6rem;
}

.sliderControls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.prevSlide, .nextSlide {
    cursor: pointer;
    border: #444 solid 2px;
    background-color: transparent;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevSlide, .nextSlide {
    color: #444;

}