.headerContainer {
    padding: 15px 50px;
    background-color: #24252A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
}

.headerContainer li, .headerContainer a, .headerContainer button {
    color: #EDF0F1;
}

.headerContainer .logo {
    margin-right: auto;
    cursor: pointer;
    font-weight: 600;
    color: #EDF0F1; /*temp*/
}

.headerContainer .logo a, .headerContainer .logo a:hover, .headerContainer .logo a:visited {
    text-decoration: none;
}

.headerContainer .navLinks {
   list-style: none;
}

.headerContainer .navLinks li {
    display: inline-block;
    padding: 0 20px;

}

.headerContainer .navLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.headerContainer .navLinks li a:hover {
    color: #0088A9;
}

.headerContainer .login {
    background-color: #EDF0F1; /*temp*/
    margin-left: 20px;
    padding: 5px 7px;
    color: #24252A;
    border-radius: 50px;
    display: inline-flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.headerContainer .hamLogo {
    margin-left: 7px;
}

.headerContainer .userLogo {
    color:#717171;
    font-size: 2rem;
}

.headerContainer .logContainer {
    position: relative;
}

.headerContainer .logMenu {
    position: absolute;
    margin-top: 10px;
    background-color: #EDF0F1;
    border-radius: 15px;
    width: 250px;
    left: -150px;
}

.headerContainer .logMenu ul {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.headerContainer .logMenu > div > ul {
    padding-left: 7px;
    padding-right: 7px;
}

.headerContainer .logMenu li {
    color: #24252A;
    font-size: 0.8rem;
    padding: 10px;
}

.headerContainer .logMenu li:hover {
    cursor: pointer;
    background-color: rgba(113, 113, 113, 0.1);
    width: 250px;
    margin-left: -7px;
    padding-left: 17px;
}

.headerContainer .logMenu li a, .headerContainer .logMenu li a:visited, .headerContainer .logMenu li a:hover {
    text-decoration: none;
    color: #24252A;
}

.headerContainer .logMenu .greySeparator {
    width: 250px;
    height: 1px;
    margin-left: -7px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(113, 113, 113, 0.3);
}

